# Explicitly set languages for Go and Vue
*.go linguist-language=Go
*.vue linguist-language=Vue

# Ignore JavaScript files in the frontend directory
frontend/**/*.js linguist-ignored=true
frontend/**/*.json linguist-ignored=true

# Mark certain folders as vendor code
frontend/node_modules/* linguist-vendored=true
frontend/public/* linguist-vendored=true
frontend/src/assets/* linguist-vendored=true
frontend/src/components/* linguist-vendored=true

# Ignore configuration files
frontend/package.json linguist-ignored=true
frontend/package-lock.json linguist-ignored=true
frontend/vite.config.js linguist-ignored=true
